/* For Font  */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Primary Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  background: #FFF;
}

:root {
  --primary-color: #3a3a3a;
  --secondary-color: blue;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}
.primary-btn {
  padding: 10px 24px;
  gap: 8px;
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  border: none;
}
.primary-btn>img{
  background-color: transparent;
  position: relative;
  top: 7px;
}
/* Header Sections Start */
header {
  padding: 100px 130px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  margin-right: 34px;
}
nav li a {
  text-decoration: none;
  color: var(--primary-color);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px 70px 0px;
}

.banner .banner-title {
  color: var(--primary-color);
  font-size: 52px;
  font-weight: 700;
}
.banner .banner-description {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}
.banner .images {
  background-image: url("../resources/images/Circle\ design.svg");
  background-repeat: no-repeat;
  position: left center;
  background-size: 95%;
}

.banner .images img {
  width: 100%;
}

/* Header Section CSS Style started here */

/* logo-container section start here */
.logo-container {
  width: 75%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo-container .logo-img-container {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  margin: auto;
}
/* popular section start */
.popular-collection-container {
  width: 75%;
  height: auto;
  margin: 130px auto;
}
.collection-container {
  width: 100%;
  height: auto;
  text-align: center;
}
.collection-container h3 {
  margin-bottom: 47px;
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
}
.popular-collection-container .img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: auto;
  gap: 30px;
}
.row3 {
  grid-row: 3 / span 1;
}
.box {
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  text-align: start;
  /* padding: 50px; */
  padding: 20px 10px;
}
.box h3 {
  color: #18191f;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  /* margin-top: 16px; */
  margin: auto;
}
.box img {
  width: 100%;
  height: 100%;
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.box .star {
  width: 50%;
}
.desc {
  height: auto;
  color: #787885;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.popular-collection-container .collection-container .see-more {
  text-align: end;
  margin-top: 50px;
}

.popular-collection-container .collection-container .see-more a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  word-spacing: 3px;
}
.features {
  width: 77%;
  height: auto;
  text-align: center;
  margin: 0 auto 100px auto;
}
.features .features-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.features .features-container .features-content {
  text-align: start;
  margin-left: 96px;
  margin-top: auto;
  margin-bottom: auto;
}
.features .features-container .features-content h3 {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px; 
}
.features .features-container .features-content p{
  color: #6C6C6C;
font-size: 16px;
font-weight: 700;
line-height: 28px; 
}